#map {
    top:0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.directions-control-instructions{
    display: none;
}
.mapboxgl-ctrl-geocoder{
    display: none;
}
.mapbox-directions-profile {
    display: none;
}
.mapboxgl-ctrl-logo{
    display: none
}